* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  #navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    position: sticky;
    top:0;
    transition: background-color 0.4s ease-in-out;
}

#brandNav {
    flex: 1;
    cursor: pointer;
}

#brandNav h1{
    font-size: 20px;
    font-family: 'Diphylleia', serif;
    letter-spacing: 1px;
}

#nombre1{
    color: #58D68D;
}

#nombre2{
    color: white;
}

#menuNav {
    display: flex;
}

.btnNav {
    width: 150px;
    height: 50px;
    position: relative;
    margin-right: 10px;
    overflow: hidden;
    cursor: pointer;
}

.btn1,
.btn2 {
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in-out;
    color: rgb(189, 189, 189);
    font-size: 20px;
    font-family: 'Diphylleia', serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn1.hidden {
    transform: translateY(-100%);
    color:white;
}

.btn2.hidden2 {
    transform: translateY(-100%);
    color:white;
}


#menuToggle {
    display: none;
}

.sandwich {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }
  
  .sandwich span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }
  
  .sandwich span:nth-child(1) {
    top: 0;
  }
  
  .sandwich span:nth-child(2) {
    top: calc(50% - 1px);
  }
  
  .sandwich span:nth-child(3) {
    top: calc(100% - 2px);
  }
  
  .sandwich:hover span:nth-child(1) {
    transform: scale(0);
  }
  
  .sandwich:hover span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
  }
  
  .sandwich:hover span:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
  }
  
  .sandwich.active span:nth-child(1) {
    transform: scale(0);
  }
  
  .sandwich.active span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
  }
  
  .sandwich.active span:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
  }


  /*Bloque principal-------------------------------------------*/
#bloque_principal{
  width: 100%;
  height: 100vh;
  position: fixed;
  top:0;
}


#cuadrilatero{
  width: 50%;
  margin-left: 50px;
  float:left;
}


#foto{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#foto img{
  width: 100%;
  height: 100%;
}

#cuadrado_fijo{
  width: 40%;
  height: 200px;
  float:left;
  margin-top: 300px;
}

#cuadrado_movil{
  width: 40%;
  height: 300px;
  float:left;
}

#textoFijo{
  color:white;
  font-size: 22px;
  width: 60%;
  font-family: 'Diphylleia', serif;
  letter-spacing: 1px;
}

#textoFijo span{
  color: #58D68D;
}


#textoMovil{
  color:white;
  font-size: 26;
  font-family: 'Diphylleia', serif;
  letter-spacing: 1px;
}

#textoMovil span{
  color: #58D68D;
}

/*Bloque contacto-----------------------------------*/
#bloque_contacto{
  width: 100%;
  position: fixed;
  top:0;
  padding-top: 200px;
}

#contacto_info{
  margin-left: auto;
  margin-right: auto;
  min-width: 70%;
  max-width: 600px;
}

#bloque_whatsapp{
  float: left;
}

#bloque_mail{
  float: right;
}

.info{
  width: 40%;
  height: 300px;
  border: 0.1px solid grey;
}

.logo{
  width: 100%;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}

.logo a{
  font-size: 60px;
  font-weight: bold;
  color: #58D68D;
}


#titulo_info{
  width: 100%;
  padding-bottom: 30px;
  color:white;
  font-size: 26;
  font-family: 'Diphylleia', serif;
  letter-spacing: 1px;
}

.info_contenido{
  width: 100%;
  text-align: center;
}

.info_contenido h1{
  color:lightgray;
  font-size: 18px;
  font-family: 'Diphylleia', serif;
  letter-spacing: 1px;
}

/*Bloque proyectos-------------------------------------*/
#bloque_proyectos{
  width: 100%;
  height: 100vh;
  position: fixed;
  top:0;
  padding-top: 100px;
}

/*Bloque cortina------------------------------------------*/
#bloque_cortina{
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0;
  display: flex;
  overflow: hidden;
  
}

.cortina {
  flex: 0 0 18%;
  height: 100%;
  background-color: rgb(22, 22, 22);
  transition: transform 0.3s ease-in-out;
}

.cortina.hidden {
  transform: translateY(-100%);
}

.cortina.hidden2 {
  transform: translateY(+100%);
}



/*Menu desplegable del menu movil----------------*/
#menuDesplegable {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 70vh;
  background-color: black;
  z-index: 999;
  text-align: center;
}




/*Clases para el cambio de color*****************************/
.fondoBlanco{
  background-color: white;
}

.fondoNegro{
  background-color: black;
}



/*Clases para el bloque de redes sociales*******************/
#redesSociales {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  
}

#redesSociales a {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 28px;
  text-decoration: none;
}

#redesSociales a:hover {
  color: #58D68D;
}

/*Media queries***********************************************/
@media (max-width: 1200px){
  #menuNav {
    display: none;
}

#menuToggle {
    display: block;
}
  #cuadrilatero{
    width: 40%;
    margin-left: 0px;
    margin-top: 100px;
  }

  #cuadrado_fijo{
    width: 55%;
  }
  #textoFijo{
    width: 90%;
  }

  #cuadrado_movil{
    width: 100%;
    padding: 20px;
  }

  #redesSociales{
    top:40%;
  }

  .info{
    width: 48%;
  }
}

@media (max-width: 800px) {
    #menuNav {
        display: none;
    }

    #menuToggle {
        display: block;
    }

    #cuadrilatero{
      width: 60%;
      max-height: 40%;
      margin-left: 0px;
      margin-top: 100px;
    }
    #textoFijo{
      font-size: 18px;
    }

    #cuadrado_fijo{
      width: 100%;
      margin-top:0;
      text-align: center;
      padding-top: 50px;
    }

    #textoMovil{
      font-size: 20px;
    }

    #redesSociales{
      top:30%;
    }

    #contacto_info{
      max-width: 80%;
    }
    
    #bloque_whatsapp{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    #bloque_mail{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
}



